:root {
    --primary-color: #110033;
    --secondary-color: rgba(255, 220, 53, 1);
    --gradient-light: #392b5d;
    --gradient: linear-gradient(#110033, #392b5d);
    --button-color-1: #01918e;
    --button-color-2: #4dd599;
    --text-color-1: #373a42;
    --text-color-2: #9fa7b3;
    --text-color-2: #273951;
}

