@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;600;700;800&display=swap');

//font-weights
$light: 300;
$regular: 400;
$semi: 500;
$bold: 700;
$extra: 800;

// font-sizes
$s-font: 5pt;
$sm-font: 7pt;
$m-font: 9pt;
$l-font: 18pt;

body {
    font-family: 'Overpass', sans-serif;
}

@mixin font ($weight, $size, $color) {
    font-weight: $weight;
    font-size: $size;
    color: $color;
}

//con escribir dentro de cualquier elemento de css @include font() y meter dentro valores separados por comas
// Ejemplo: 
// 
    //  .nombreClase {
    //       @include font($regular, 12px, var(--primary-color));
    //   }